html, body,* {
    margin:0px
};


#box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100rem;
}

#bar{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-image: linear-gradient(to right, #64edfc, #79f9e0);
    width: 100%;
    height: 5rem;
    margin-top: -5rem;

}

#title{
    color: #fff;
}

p{
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
    padding: 30%;
    padding-bottom: 30%;
    font-size: larger;
}

a:hover{
    background-color: #a3ffed;
}


.dropdown {
    color: #000;
    position: fixed;
    align-items: center;
    top: 1;
    right: 0;
    text-decoration: none;
    display: inline-block;
  }

  .dropdown-content {
    flex-direction: row;
    color: #000;
    display: none;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    background-color: none;
    min-width: 160px;
  }

  .show {display:block;}

  

#imgbox{

    background-image: url(../images/clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
  
}



#miniBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #12345a;
    height: 48.4rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
    font-size: xx-large; 
}

#statBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#regn{
    margin-left: 3rem;
    margin-right: 3rem;
}

#title{
    margin-top: rem;
}

/* #table{
    display: flex;
    background-color: #20b6f1;
    font-size: medium;

} */


  
/* #toggle-btn{
    width: 20rem;
}   */



td{
    border: solid #000 2px;
}

button{
   height: 2rem;
   width: 6rem;
    background-color: #20b6f1;
    border: none;
    margin-top: 0rem;
}

button:hover{
    background-color: #a3ffed;
}


#foot{
    display: flex;
    margin-bottom: -10;
}